{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-12 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ .Params.startLink }}" role="button">{{ .Params.buttonText }}</a>
      <p class="meta">{{ .Params.metaText | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "Chinese" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center  text-center">
        <div class="col-lg-5">
          <h2 class="h4">开箱即用</h2>
          <p>
            内置各类中间件、数据库的告警规则、指标说明、仪表盘等，开箱即用；可对接 Categraf、Telegraf、Datadog-agent、各类 Exporter 等常用采集器
          </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">专业告警</h2>
          <p>
            同时支持指标和日志的告警；支持告警规则的可视化配置和管理；支持一套规则生效到多个数据源；支持边缘机房部署单独的告警引擎提升告警可用性；支持告警抑制、屏蔽、订阅、多种通知媒介、事件 Relabel 等
          </p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">开放社区</h2>
          <p>托管于<a target="_blank" href="https://www.ccf.org.cn/kyfzwyh/">中国计算机学会开源发展委员会</a>，依托基金会运作，有数千名社区用户的积极参与，保证了夜莺开源社区健康、长久的发展</p>
        </div>
      </div>
    </div>
  </section>
  {{ else }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Out of the box</h2>
          <p>Nightingale has built-in alerting rules, metric descriptions, dashboards, etc. for various middleware and databases, allowing for out-of-box use. Additionally, it can integrate with popular collectors like Categraf, Telegraf, Datadog-agent, and various Exporters</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Professional alerting</h2>
          <p>Nightingale supports alerting for both metrics and logs. A single set of rules can be applied to multiple data sources. Moreover, it supports features such as inhibit, mute, subscription, multiple notification mediums, and event relabeling.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Open community</h2>
          <p>Nightingale is hosted by the Open Source Development Committee of the China Computer Federation. With the active participation of thousands of community users, it ensures the healthy and sustainable development of the Nightingale open-source community.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
